body {
    font-family: sans-serif;
    padding: 5px 25px;
    margin: 0;
    max-width:500px;

  }

p {
    font-family: 'Roboto', sans-serif;
}

header {
    color:white;
    background-color: #1a759f;
    border-radius:10px;
    font-size: 34px;
    box-shadow: 10px 10px 5px grey;
}

.gridgar {
    display:grid;
    grid-gap:25px;
}

#pictureofme {
    grid-column:1/2;
    grid-row: 1/2;
    margin-top: 30px ;
    margin-left: 30px;
}

#myname {
    grid-column:2/3;
    grid-row: 2/3;
}

footer {
    color:white;
    background-color: #1a759f;
    border-radius:10px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

ul {
    border-top: gray 1px;
}

img {
    border-radius:3px;
}

#lastmod {
    color:yellow
}