body {
    font-family: 'Roboto', sans-serif;
    max-width: 767px;
	margin: 0 auto;
    text-align: center;
    padding: 1em;
}

main {
    display: grid;
	grid-template-columns: 1fr;
}

header {
    background-color: #0a1f32;
    color: white;
}

h3 {
    color: white;
    background-color: #394958;
}

section {
    background-color: #eeeeee;
    padding: 1em;
}