* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #c2c5aa;
    text-align: center;
}

footer p {
    text-align: center;
    margin-top: 10px;
}

img {
    border-radius: 5px;
}


header,
footer {
    background-color: #656d4a;
    color: #c2c5aa;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);


}

#social img {
    border-radius: 50%;
}

header {
    display:flex;
    flex-direction: row;


}


header,
main,
footer {
    max-width: 767px;
    margin:0 auto;
}

h1 {
    font-size: 1.1rem;
}

nav {
    background-color: #333d29;
    margin: 10px auto;
    max-width: 780px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9)
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align:center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    background: linear-gradient(90deg, transparent, #a4ac86, transparent) top /
        var(--d, 0) 10px no-repeat;
    transition: 0.5s;
}

button a {
    text-decoration: none;
    color: white;
}

.active {
    color: #a4ac86;
}
main {
    display: grid;
    grid-template-columns: 1fr;
}

main article {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
}

main article ul {
    margin: 1rem 0 0 1rem;
}

main picture {
    margin: 1rem;
}

main picture img {
    width: 100%;
}

footer {
    padding: 2rem;
}

#sl1 {
    padding: .8em;
    border: 1px solid #656d4a;
    border-radius: 5px;
    margin:.5em;
}

#sl2 {
    padding: .8em;
    border: 1px solid #656d4a;
    border-radius: 5px;
    margin:.5em;
}

#sl3 {
    border: 1px solid #656d4a;
    border-radius: 5px;
    padding: .8em;
    display: none;
    margin:.5em;
}

footer a {
    text-decoration: none;
    color: white;
    
}

footer a:hover {
    color:black;
}

#colorone {
    color:white;
    background-color: #c2c5aa;
}

#colortwo {
    color: white;
    background-color: #656d4a;
}

#colorthree {
    color:white;
    background-color: #333d29;
}

#secondfont {
    font-family: 'Source Sans Pro', sans-serif;
}

#thirdfont {
    font-family: 'Cinzel', serif;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
    color: #c2c5aa;
    background-color: #656d4a;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

footer img {
    width:50px;
}

#weather {
    grid-row: 3/4;
}

#news {
    grid-row: 4/5;
}

#join {
    display:none;
}

p {
    padding: 1rem;
    
}

#cta {
    position: relative;
    grid-row:1/3;
}

#welcome {
    position: absolute;
    top:125px;
    left:55px;
    color:#272918;
    font-size:1.5rem;
    
}

#welcome {
    font-weight: 1.3em;
}

#ton {
    position: absolute;

    bottom:50px;
    right:50px
}

#spotlights img {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*discover page portion*/

#discover h1{
    display: flex;
    margin: 10px auto;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #333d29;
}

#picimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    padding: 30px;
}

figure img:hover {box-shadow: 0 0 50px #333;}

/*-----------FORM---------*/
form {
    text-align: left;
    max-width: 960px;
    min-width: 27rem;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    

}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #656d4a;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #656d4a;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #333d29;
    font-size: 1.2rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.2rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #333d29;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;

}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* ---------DIRECTORS----------- */

#content {
    width: 100%;
    margin: 0 auto;
    }




    .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    }
    .cards section {
    border: 1px solid #333d29;
    background-color: wheat;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
    box-shadow: 5px 10px 8px 5px #656d4a;
    }
    .cards h2 {
    color: #333d29;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .cards p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .cards img {
    width: 90%;
    border-radius: 4px;
    }

    /*-----------ICONS----------*/

    .material-icons.md-48 { 
        font-size: 48px; 
        padding: 5px;
        margin: 15px 10px 15px 10px;
        border: #313d24 solid 2px;
        border-radius: 3px;
        color: #32461e;
    }

    button {
        padding: .9rem;
        border-radius: 10px;
        color: white;
        background-color: #656d4a;
    }

    #list:hover, #cards:hover{
        background-color:white; 
        color: black; 
        transition-duration: 0.2s;
        cursor: pointer;
    }
    
    section {
        padding: 1em;
    }

    /*-------- DIRECTOR PAGE FOR TABLE----------*/

    /*List CSS */
    .table tr td {
        display: block;
        border: none;
        line-height: 3rem;
    }

    .table{
        text-align:center;
    }

    tr:nth-child(even) {
        background-color: #656d4a;
        color: #c2c5aa;
    }

    tr:nth-child(odd) {
        background-color: #333d29;;
        color: white;
    }

    table a {
        color: skyblue;
    }

    .table .cards {
        padding-bottom: 100px;
    }
  

    #bofd {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        padding-bottom: 100px;
    }

    #bofd img {
        width: 200px;
    }

    .board {
        background-color: #656d4a;
        width: 350px;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    #picimg figure {
        width: 400px;
    }

    #picimg img {
        width: 100%;
    }